
.mobile-hud {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 80px;

    &__info-wrapper {
        text-align: center;
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 2rem;
    }

    &__info-text {
        margin-bottom: 20px;
    }
}