<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WOW-Shop - Ben & Julian</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="dist/main.min.css?v=<%= timestamp %>">
</head>
<body>

    <div id="start-screen" class="start-screen hidden">

        <div class="start-screen__background">
            <video class="start-screen__background-video" autoplay loop>
                <source src="/public/videos/background.mp4" type="video/mp4">
            </video>
        </div>

        <div class="start-screen__headline">
            <img src="/public/logo.svg" alt="Drone Flight">
        </div>

        <div class="start-screen__inner-wrapper">
            <div id="qrCode" class="start-screen__qr"></div>

            <div class="start-screen__text">
                Code scannen und los gehts!
            </div>

            <button id="keyboard-game" class="start-screen__start button--desktop-small">
                Tastatur verwenden
            </button>
        </div>
    </div>

    <div id="racer-hud" class="racer-hud hidden">
        <div id="racer-hud-players" class="racer-hud__players"></div>
    </div>

    <div id="mobile-hud" class="mobile-hud hidden">

        <!--STEP 1-->
        <div class="mobile-hud__rotate-info">
            Das Spiel funktioniert nur wenn du dein Smartphone um 90° nach links drehst!
        </div>

        <!--STEP 2-->
        <button id="mobile-hud-start"
                class="mobile-hud__start-btn button--mobile-large">
            Ich bin bereit
        </button>

        <!--STEP 3-->
        <div id="mobile-hud-end-wait"
             class="mobile-hud__info-wrapper hidden">
            <div class="mobile-hud__info-text">
                Leider musst du warten bis sich deine Mitspieler verbunden haben.... <br>
                Das kann dauern!
            </div>
        </div>

        <!--STEP 4-->
        <button id="mobile-hud-accelerate"
                class="mobile-hud__accelerate-btn button--mobile-large hidden">
            power up
        </button>

        <!--STEP 5-->
        <div id="mobile-hud-end-wrapper"
             class="mobile-hud__info-wrapper hidden">
            <div id="mobile-hud-end-text" class="mobile-hud__info-text"></div>
            <button onclick="window.location.reload(true);"
                    class="mobile-hud__reload-btn button--mobile-small">
                Ich will noch einmal
            </button>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="dist/footer.min.js?v=<%= timestamp %>"></script>
</body>
</html>