<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WOW-Shop - Ben & Julian</title>

    <link rel="stylesheet" type="text/css" href="dist/main.min.css">
</head>
<body>

    <div id="qrCode"></div>

    <!--<div class="oindi" id="tilt"></div>-->
    <!--<div class="oindi" id="direction"></div>-->

    <div id="racer-hud" class="racer-hud" style="display: none;">
        <div id="racer-hud-players" class="racer-hud__players"></div>
    </div>

    <div id="mobile-hud" class="mobile-hud" style="display: none;">
        <button id="mobile-hud-start"
                class="mobile-hud__start-btn">
            start game
        </button>
        <button id="mobile-hud-accelerate"
                class="mobile-hud__accelerate-btn"
                style="display: none;">
            use power up
        </button>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="dist/footer.min.js"></script>
</body>
</html>